{% extends "accounts/master_base.html" %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">System users</h4>
                <p class="card-description"> Add class <code>.table-striped</code></p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Image </th>
                                <th> First name </th>
                                <th> Last name </th>
                                <th> Username </th>
                                <th> Role</th>
                                <th> Status </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="py-1">
                                        <img src="{{user.profile_picture.url}}" alt="image" />
                                    </td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        <div class="progress">
                                           <td>{{ user.status }}</td>
                                        </div>
                                    </td>
                                    <td>{{ user.amount }}</td>
                                    <td>{{ user.deadline }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
