{% extends "library_management/dashboard/library_base.html" %}
{% load static %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Add Author</h3>
        <form class="forms-sample" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Name" required>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button type="reset" class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}