{% extends "student_management/dos/dos_base.html" %}
{% load static %}
{% block content %}              

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Course</h4>
            <p class="card-description"> Fill the form to add a new course</p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Course Name">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="4" placeholder="Course Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="syllabus">Syllabus (Optional)</label>
                    <input type="file" name="syllabus" class="form-control-file" id="syllabus">
                </div>

                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" class="form-control" name="start_date" id="start_date">
                </div>

                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" class="form-control" name="end_date" id="end_date">
                </div>

                <div class="form-group">
                    <label for="duration">Duration (in weeks)</label>
                    <input type="number" class="form-control" name="duration" id="duration" placeholder="Duration">
                </div>

                <div class="form-group">
                    <label for="teachers">Teachers</label>
                    <select class="form-control" name="teachers" id="teachers" multiple>
                        {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Add Course</button>
                <button type="reset" class="btn btn-dark">Reset</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
