{% extends "stock_management/stock_base.html" %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Manage Order</h3>
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> # </th>
                <th> Supplier Name </th>
                <th> Item Name </th>
                <th> Quantity </th>
                <th> Unity Price </th>
                <th> Total Amount </th>
                <th> Date </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
                  {% for purchaseorder in purchaseorders %}
                      <tr>
                        <td>{{ purchaseorder.id }}</td>
                        <td>{{ purchaseorder.supplier.name }}</td>
                        <td>{{ purchaseorder.item.name }}</td>
                        <td>{{ purchaseorder.quantity }}</td>
                        <td>{{ purchaseorder.unit }}</td>
                        <td>{{ purchaseorder.total }}</td>
                        <td>{{ purchaseorder.ordered_at }}</td>
                        <td colspan="3">
                          <a href="{% url 'update_order' purchaseorder.id purchaseorder.item.id purchaseorder.supplier.id %}"><button type="submit" class="btn btn-primary mr-2">Update</button></a>
                          <a href="{% url 'receive_order' purchaseorder.id %}"><button class="btn btn-warning mr-2">Receive</button></a>
                          <a href="{% url 'delete_order' purchaseorder.id %}"><button class="btn btn-danger">Delete</button></a>
                        </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
