{% extends "stock_management/stock_base.html" %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Report of Suppliers</h3>
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th> # </th>
                <th> Supplier Name </th>
                <th> Phone Number </th>
                <th> Email </th>
                <th> Date Added </th>
              </tr>
            </thead>
            <tbody>
                  {% for supplier in suppliers %}
                      <tr>
                        <td>{{ supplier.id}}</td>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.contact1 }}</td>
                        <td>{{ supplier.address }}</td>
                        <td>{{ supplier.created }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}